<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        #title{
            text-align: center;
        }
    </style>
</head>
<body >
    <div class="container" style="background-color: rgb(191, 231, 202);">
        <div class="row" id="title">
            <div class="col-sm">
                <h2 class="display-2">Deloitte Blogs </h2>
            </div>
        </div>
        <hr>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="#!/blog" style="color: black; margin-right: 50px;">Blogs</a>
                  <a class="nav-link" href="#!/blog/authors" style="color: black; margin-right: 50px;">Authors</a>
                  <a class="nav-link" href="#/blog/aboutus" style="color: black; margin-right: 50px;">About Us</a>
                </div>
              </div>
            </div>
          </nav>
        <hr>
        <div class="row">
            <div class="col-sm">
                <!-- <div class="input-group">
                    <input type="text" class="form-control" ng-model="query" placeholder="Search by Blog title">
                </div> -->
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Search Blog" ng-model="query">
                  </div>
                  
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col-sm">
                <ul class="list-group">
                    <div ng-if="!userid">
                        <li class="list-group-item list-group-item-action" ng-repeat="blog in $ctrl.blogs | filter:query ">
                            <a href="#!/blog/{{blog.id}}" style="color: black; text-decoration: none;">{{blog.title}}</a>
                        </li>
                    </div>
                    <div ng-if="userid">
                        <li class="list-group-item list-group-item-action" ng-repeat="blog in $ctrl.blogs | filter: {userId:userid}: true">
                            <a href="#!/blog/{{blog.id}}" style="color:black; text-decoration: none;">{{blog.title}}</a>
                        </li>    
                    </div>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>



